<nav class="navbar-container">
  <div class="nav-left">
    <a class="navbar-link" href="{% url 'main:mainpage' %}">DGU LIKELION 13th</a>
    <a class="navbar-link" href="{% url 'main:secondpage' %}">Second Page</a>
    <a class="navbar-link" href="{% url 'main:tag-list' %}">Tag</a>
  </div>
  {% csrf_token %}

  <div class="nav-right">
    {% if user.is_authenticated %}
    <div>
      <ul class="nav-link-account">
        <li class="nav-link-user">{{user.username}}님 안녕하세요</li>
        <li><a href="{% url 'accounts:logout' %}">로그아웃</a></li>
        <li><a href="{% url 'users:mypage' request.user.id %}">mypage</a></li>
      </ul>
    </div>
    {% else %}

    <div>
      <ul class="nav=link-account">
        <li><a href="{% url 'accounts:login' %}">로그인</a></li>
        <li><a href="{% url 'accounts:signup' %}">signup</a></li>
      </ul>
    </div>
    {% endif %}
  </div>
</nav>