{% extends 'base.html' %}
{%load static %}

{% block content %}
<h1>환영합니다. {{ user.username }}님</h1>
<p>팔로워<br>{{ user.profile.followers.count }}명</p>
<p>팔로잉<br>{{ user.profile.followings.count }}명</p>

{% if request.user != user %}
    {% if request.user.profile in user.profile.followers.all %}
        <a href="{% url 'users:follow' user.id %}">
            <button type="button" class="btn btn-outline-info">언팔로우</button>
        </a>
    {% else %}
        <a href="{% url 'users:follow' user.id %}">
            <button type="button" class="btn btn-info">팔로우</button>
        </a>
    {% endif %}
{% endif %}
{% if user.profile.thumbnail %}
    <p><img src="{{ user.profile.thumbnail.url }}" alt="프로필사진" width="100px"></p>
{% endif %}
<p>자기소개 : {{ user.bio }}</p>

<div>
    {% for post in posts %}
    <div>
        <hr/>
        <h3><a href="{% url 'main:detail' post.id %}">{{ post.objname }}</a></h3>
        {{ post.name }} | {{ post.pub_date }}<br>
        {{ post.objdetail }}
    </div>
    {% endfor %}
</div>

{% endblock %}