{% extends 'base.html' %}
{%load static %}

{% block content %}
<h1>환영합니다. {{ user.username }}님</h1>
{% if user.profile.thumbnail %}
    <p><img src="{{ user.profile.thumbnail.url }}" alt="프로필사진" width="100px"></p>
{% endif %}
<p>자기소개 : {{ user.bio }}</p>

<div>
    {% for post in posts %}
    <div>
        <hr/>
        <h3><a href="{% url 'main:detail' post.id %}">{{ post.objname }}</a></h3>
        {{ post.name }} | {{ post.pub_date }}<br>
        {{ post.objdetail }}
    </div>
    {% endfor %}
</div>

{% endblock %}